/* Basic browser reset */
* {
  padding: 0;
  margin: 0;
}
/* Code taken from:
 * https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.less-info {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/* Styling begins */
body {
  font-family: 'Overpass', sans-serif;
}
/* Contact form */
textarea {
  resize: none;
  height: 100px;
  width: 250px;
}
/* Mobile first */
body {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "photo"
  "about"
  "education"
  "projects-more"
  "projects"
  "education-more"
  "work"
  "work-more"
  "contact"
  "contact-more"
  ;
} 
/* About me */
#about-me {
  background-color: #69B7BF;
  color: #261101;
  width: 100%;
  grid-area: about;
}
#about-me > h3 {
  width: 300px;
  font-size: 25px;
  padding: 30px 0 10px 30px;
}
p {
  padding: 0 30px 15px 30px;
  font-size: 14px;
}
#landing-photo {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: auto;
  grid-area: photo;
}
.photo-top {
  width: 100%;
  height: auto;
  overflow: hidden;
  opacity: 0.70;
  display: block;
}
/* Extra information */
#information {
  background-color: #094950;
  color: rgb(236, 236, 222);
  padding-bottom: 200px;
  width: 100%;
}
h2 {
  padding-top: 15px;
  padding-left: 15px;
  text-decoration: underline;
}
h3 {
  padding-left: 15px;
}
form {
  padding-left: 15px;
}
ul {
  padding-left: 15px;
}
#job-info > li {
  list-style-type: none;
  padding-bottom: 10px;
}
.job-title {
  font-weight: bold;
}
#projects-title {
  grid-area: projects;
}
.projects {
  grid-area: projects-more;
}
#education {
  grid-area: education;
}
.education {
  grid-area: education-more;
}
#work-exp {
  grid-area: work;
}
.work-exp {
  grid-area: work-more;
}
#contact {
  grid-area: contact;
}
.contact {
  grid-area: contact-more;
}
/* Projects */
#project-head {
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
#pe-photos {
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-areas: 
  "p1 p2";
}
#pe1 {
  grid-area: p1;
}
#pe2 {
  grid-area: p2;
  align-self: end;
}
.project-photo {
  width: 330px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
.project-photo {
  width: 200px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
#pe-photos #pe2 {
  width: 125px;
  height: auto;
} 
/* Time line */
/* Using Grid design, Thank you Krizstina for the idea */
.timeline {
  display: grid;
  grid-template-columns: 48% 2% 50%;
  grid-template-areas: 
  "1      circle-1 date-1"
  "date-2 circle-2 2"
  "3      circle-3 date-3"
  "date-4 circle-4 4"
  "5      circle-5 date-5";
}
#education-1 {
  grid-area: 1;
  border-radius: 5%;
}
#education-2 {
  grid-area: 2;
  border-left: solid yellow 9px;
}
#education-3 {
  grid-area: 3;
}
#education-4 {
  grid-area: 4;
  border-left: solid yellow 9px;
}
#education-5 {
  grid-area: 5;
}
#date-1 {
  grid-area: date-1;
  border-left: solid yellow 9px;
}
#date-2 {
  grid-area: date-2;
}
#date-3 {
  grid-area: date-3;
  border-left: solid yellow 9px;
}
#date-4 {
  grid-area: date-4;
}
#date-5 {
  grid-area: date-5;
  border-left: solid yellow 9px;
}
.date {
  padding-top: 30px;
  padding-bottom: 20px;
}
.circle {
  overflow: visible;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  grid-area:circle;
  background-color: rgb(190, 7, 7);
  margin-top: 45px;
  z-index: 2;
  margin-right: 50px;
}
.left {
  padding-left: 30px;
}
.right {
  padding-left: 15px;
}
#circle-1 {
  grid-area: circle-1;
}
#circle-2 {
  grid-area: circle-2;
}
#circle-3 {
  grid-area: circle-3;
}
#circle-4 {
  grid-area: circle-4;
}
#circle-5 {
  grid-area: circle-5;
}
.education-point {
  padding-right: 10px;
}
.education-point > p {
  background-color: grey;
  border-radius: 5%;
  padding-top: 5px;
}
.fas fa-laptop-code {
  justify-self: center;
  width: 20px;
}
.fas fa-university {
  overflow: visible;
  size: 10000px;
}
/* Social Contact */
#connect {
  padding-top: 15px;
}
#logos {
  padding-top: 10px;
  display: inline-flex;
  flex-direction: row;
}
#github {
  padding: 0 15px;
  width: 75px;
  height: auto;
}
#linkedin {
  width: 100px;
}
@media screen and (min-width: 600px) {
  #landing-photo {
    height: 50vh;
  }
  .photo-top {
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0.70;
    display: block;
  }
  #pe-photos {
    display: grid;
    grid-template-columns: 275px 100px;
    grid-template-areas: 
    "p1 p2";
  }
  #pe1 {
    grid-area: p1;
  }
  #pe2 {
    grid-area: p2;
    align-self: end;
  }
  #pe-photos #pe2 {
    width: 250px;
    height: auto;
  } 
  .project-photo {
    width: 330px;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  /* Time line */
  .timeline {
    display: grid;
    grid-template-columns: 49% 1% 50%;
    grid-template-areas: 
    "1      circle-1 date-1"
    "date-2 circle-2 2"
    "3      circle-3 date-3"
    "date-4 circle-4 4"
    "5      circle-5 date-5";
  }
  .circle {
    margin-top: 25px;
  }
}
@media screen and (min-width: 1080px) {
  #landing-photo {
    height: 65vh;
  }
  #pe-photos {
    display: grid;
    grid-template-columns: 275px 100px;
    grid-template-areas: 
    "p1 p2";
  }

  #pe1 {
    grid-area: p1;
  }
  #pe2 {
    grid-area: p2;
    align-self: end;
  }
  #pe-photos #pe2 {
    width: 330px;
    height: auto;
  }
  /* Time line */
  .timeline {
    display: grid;
    grid-template-columns: 44% 1% 54%;
    grid-template-areas: 
    "1      circle-1 date-1"
    "date-2 circle-2 2"
    "3      circle-3 date-3"
    "date-4 circle-4 4"
    "5      circle-5 date-5";
  }
  .circle {
    margin-top: 25px;
  }
  .education-point > p {
    border-radius: 10px;
  }
}