/* Basic browser reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Code taken from:
 * https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.less-info {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/* Styling begins */
/* https://stackoverflow.com/questions/24739126/scroll-to-a-specific-element-using-html */
/* HTML CSS for smooth scrolling */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Overpass', sans-serif;
}
/* Mobile first */
body {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "photo"
  "about"
  "skills"
  "education"
  "projects-more"
  "projects"
  "education-more"
  "work"
  "work-more"
  "contact"
  "contact-more"
  ;
}
/* Landing */
#landing-photo {
  background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 60vh;
  grid-area: photo;
  opacity: 0.7;
}
#landing {
  text-align: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  text-decoration: none;
  font-weight: 800;
  margin-top: 40%;
  background-color: #012326;
  color: #e7fbff;
  padding: 15px;
  letter-spacing: 5px;
}
#learn {
  visibility: hidden;
}
/* About Me Section */
#about-me {
  background-color: #69B7BF;
  color: #261101;
  width: 100%;
  grid-area: about;
}
#about-me > h3 {
  width: 300px;
  font-size: 25px;
  padding: 15px 0 10px 20px;
  text-decoration: underline;
}
p {
  padding: 0 30px 15px 30px;
  font-size: 14px;
}
/* Tech Stack Section */
#skills {
  grid-area: skills;
  background-image: url("https://images.pexels.com/photos/163163/sackcloth-sackcloth-textured-laptop-ipad-163163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  width: 100vw;
  height: 35vh;
  color: rgb(233, 229, 229);
}
#skills > p {
  padding-top: 5px;
  font-size: 14px;
}
#skills > section > ul > li {
  margin-top: 5px;
  margin-left: 40px;
  list-style-type: disc;
}
#development,
#tool {
  display: inline-block;
  vertical-align: top;
}
/* Extra information Section */
#information {
  background-color: #094950;
  color: rgb(236, 236, 222);
  padding-bottom: 50px;
  width: 100%;
}
h2 {
  font-size: 25px;
  padding-top: 15px;
  padding-left: 15px;
  text-decoration: underline;
}
h3 {
  padding-left: 15px;
}
form {
  padding-left: 15px;
}
ul {
  padding-left: 15px;
}
#job-info > li {
  list-style-type: none;
  padding-bottom: 10px;
}
.job-title {
  font-weight: bold;
}
#projects-title {
  grid-area: projects;
}
.projects {
  grid-area: projects-more;
}
#education {
  grid-area: education;
}
.education {
  grid-area: education-more;
}
#work-exp {
  grid-area: work;
}
.work-exp {
  grid-area: work-more;
}
#contact {
  grid-area: contact;
}
.contact {
  grid-area: contact-more;
}
/* Projects Expanded Section */
#project-head {
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.project-title {
  font-size: 23px;
  margin-bottom: 5px;
}
.project-buttons {
  margin: 15px 20px;
}
a {
  text-decoration: none;
}
.button {
  border: solid #69B7BF 3px;
  padding: 5px;
  background-color: rgba(30, 38, 39, 0.75);
  color: rgb(197, 248, 252);
}
.divider {
  display: block;
  width: 45%;
  height: 2px;
  background-color: #69B7BF;
  margin: 15px 20px;
}
#pe-photos {
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-areas: 
  "p1 p2";
}
#pe1 {
  grid-area: p1;
}
#pe2 {
  grid-area: p2;
  width: 125px;
  align-self: end;
  height: auto;
}
.project-photo {
  width: 200px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
#OFB-photos {
  display: grid;
  grid-template-columns: 150px 65px 75px;
  grid-template-areas: 
  "OFB1 OFB2 OFB3";
}
#OFB-1 {
  grid-area: OFB1;
  align-self: end;
}
#OFB-2 {
  grid-area: OFB2;
  width: 80px;
  align-self: end;
  height: auto;
}
#OFB-3 {
  grid-area: OFB3;
  align-self: end;
  width: 100px;
  height: auto;
}
#chess-photos {
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-areas: 
  "c1 c2";
}
#chess-1 {
  grid-area: c1;
}
#chess-2 {
  grid-area: c2;
  width: 125px;
  align-self: end;
  height: auto;
}
/* Education & Timeline */
/* Using Grid design, Thank you Krizstina for the idea */
.timeline {
  display: grid;
  grid-template-columns: 48% 2% 50%;
  grid-template-areas: 
  "1      circle-1 date-1"
  "date-2 circle-2 2"
  "3      circle-3 date-3"
  "date-4 circle-4 4"
  "5      circle-5 date-5";
  margin-top: 20px;
}
#education-1 {
  grid-area: 1;
  border-radius: 5%;
}
#education-2 {
  grid-area: 2;
  border-left: solid #69B7BF 5px;
}
#education-3 {
  grid-area: 3;
}
#education-4 {
  grid-area: 4;
  border-left: solid #69B7BF 5px;
}
#education-5 {
  grid-area: 5;
}
#date-1 {
  grid-area: date-1;
  border-left: solid #69B7BF 5px;
}
#date-2 {
  grid-area: date-2;
}
#date-3 {
  grid-area: date-3;
  border-left: solid #69B7BF 5px;
}
#date-4 {
  grid-area: date-4;
}
#date-5 {
  grid-area: date-5;
  border-left: solid #69B7BF 5px;
}
.date {
  padding-top: 30px;
  padding-bottom: 20px;
}
.circle {
  overflow: visible;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  grid-area:circle;
  background-color: rgba(24, 22, 22, 0.95);
  margin-top: 45px;
  z-index: 2;
  transform: translateX(-1px);
}
.left {
  padding-left: 30px;
}
.right {
  padding-left: 15px;
}
#circle-1 {
  grid-area: circle-1;
}
#circle-2 {
  grid-area: circle-2;
}
#circle-3 {
  grid-area: circle-3;
}
#circle-4 {
  grid-area: circle-4;
}
#circle-5 {
  grid-area: circle-5;
}
.education-point {
  padding-right: 10px;
}
.education-point > p {
  background-color: rgba(197, 178, 178, 0.45);
  border-radius: 5%;
  padding-top: 5px;
}
.icon {
  transform: translateX(4px) translateY(3px);
  color: rgb(230, 228, 228);
}
.laptop {
  transform: translateX(3.5px) translateY(5px);
}
/* Work Exp */
#job-info {
  margin-top: 10px;
}
#job-info > li > ul > li {
  list-style-type: disc;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Contact form */
#get-in-touch {
  padding-top: 10px;
  text-decoration: none;
  text-emphasis: none;
}
form {
  padding-top: 10px;
}
textarea {
  resize: none;
  height: 100px;
  width: 250px;
}
input {
  margin: 5px 0;
  display: block;
}
textarea {
  display: block;
}
#submit {
  margin-top: 10px;
}
/* Social & Contact Section */
#connect {
  text-decoration: none;
  padding-top: 15px;
  display: block;
}
#logos {
  padding-top: 10px;
  display: block;
  width: 100vw;
}
#social-logos {
  display: inline-flex;
  flex-direction: row;
  padding-top: 10px;
}
#github {
  padding: 0 15px;
  width: 75px;
  height: auto;
}
#linkedin {
  width: 100px;
}

/* Tablet view */
@media screen and (min-width: 600px) {
  #landing-photo {
    height: 50vh;
  }
  #landing {
    margin-top: 30%;
    font-size: 25px;
    letter-spacing: 10px;
  }
  #about-me > h3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #about-me > p {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  /* Tech stack section */
  #skills > h2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #skills > p {
    margin-right: auto;
    margin-left: auto;
    width: 80%;
  }
  #skills > h3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #development {
    margin-left: 75px;
  }
  #development > h3,
  #tool > h3 {
    font-size: 27px;
  }
  #development > ul > li,
  #tool > ul > li {
    font-size: 18px;
  }
  /* Projects Section */
  #information > h2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .project-buttons {
    margin-left: 60px;
  }
  .divider {
    margin-left: 50px;
  }
  .projects > h2 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .projects > section > h3 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  .projects > section > p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  #pe-photos {
    display: grid;
    grid-template-columns: 275px 100px;
    grid-template-areas: 
    "p1 p2";
  }
  #pe1 {
    grid-area: p1;
  }
  #pe2 {
    grid-area: p2;
    width: 250px;
  }
  .project-photo {
    width: 330px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  #OFB-photos {
    grid-template-columns: 
    275px 75px 100px;
  }
  #OFB-2 {
    width: 125px;
  }
  #OFB-3 {
    width: 200px;
  }
  #chess-photos {
    grid-template-columns: 
    275px 100px;
  }
  #chess-2 {
    width: 225px;
  }
  /* Timeline */
  .timeline {
    display: grid;
    grid-template-columns: 49% 1% 50%;
  }
  .circle {
    margin-top: 25px;
    transform: translateX(-4px);
  }
  .icon {
    transform: translateX(4px) translateY(3px);
  }
  .laptop {
    transform: translateX(3.5px) translateY(5px);
  }
  .education-point > p {
    border-radius: 5px;
  }
  /* Work Exp */
  #job-info {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }
  /* Contact */
  form,
  .contact > h2 {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    text-decoration: none;
  }
  #logos {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  #logos > a {
    transform: translateX(50px);
    width: 5%;
    margin-right: auto;
    margin-left: auto;
  }
}

/* Small Laptop view */
@media screen and (min-width: 1024px) {
  #landing-photo {
    background-position-y: center;
    height: 100vh;
  }
  #landing {
    margin-top: 35%;
    width: 60%;
    font-size: 55px;
    letter-spacing: 11px;
    text-align: center;
  }
  #learn {
    visibility: visible;
    padding: 10px 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 8%;
    font-size: 16px;
    margin-top: 200px;
  }
  #about-me > h3 {
    font-size: 30px;

  }
  #about-me > p {
    width: 85%;
    font-size: 16px;
  }
  /* Tech Stack Section */
  #skills > h2 {
    font-size: 30px;
  }
  #skills > p {
    font-size: 18px;
    width: 85%;
  }
  #tool {
    margin-left: 75px;
  }
  /* Projects Section */
  .project-title {
    font-size: 30px;
  }
  #information > section > p {
    font-size: 20px;
  }
  #pe-photos {
    margin-left: 100px;
    grid-template-columns: 400px 100px;
  }
  #pe1 {
    grid-area: p1;
    width: 500px;
  }
  #pe2 {
    grid-area: p2;
    width: 400px;
  }
  .projects > section > p {
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding: 15px 0;
    font-size: 14px;
  }
  #OFB-photos {
    margin-left: 100px;
    grid-template-columns: 
    375px 150px 100px;
  }
  #OFB-1 {
    width: 450px;
  }
  #OFB-2 {
    width: 175px;
    height: auto;
  }
  #OFB-3 {
    width: 300px;
  }
  #chess-photos {
    margin-left: 100px;
    grid-template-columns: 
    400px 100px;
  }
  #chess-1 {
    width: 500px;
  }
  #chess-2 {
    width: 375px;
  }
  #to-do-photos {
    margin-left: 100px;
  }
  #to-do-1 {
    width: 500px;
  }
  /* Timeline */
  .timeline {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: 44% 2% 48%;
  }
  .circle {
    margin-top: 25px;
    transform: translateX(4px) translateY(2px);
  }
  .education-point > p {
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .date > span {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .icon {
    transform: translateX(4px) translateY(3px);
  }
  .laptop {
    transform: translateX(3px) translateY(5px);
  }
  .left > span {
    padding-left: 40px;
  }
  .right > span {
    padding-left: 15px;
  }
  /* Work Exp */
  .work-exp {
    font-size: 16px;
  }
  /* Contact */
  .contact > h2 {
    width: 87.5%;
  }
  form {
    width: 85%;
    font-size: 20px;
  }
}

/* Medium desktop view */
@media screen and (min-width: 1366px) {
  #landing-photo {
    background-position-y: center;
    height: 100vh;
  }
  #landing {
    margin-top: 18%;
    width: 50%;
    font-size: 55px;
    letter-spacing: 11px;
  }
  #learn {
    width: 6%;
    margin-top: 250px;
  }
  /* About me section */
  #about-me > p {
    font-size: 18px;
  }
  /* Tech Stack Section */
  #tool {
    margin-left: 100px;
  }
  /* Timeline */
  .circle {
    transform: translateX(9px) translateY(1px);
  }
  .education-point > p {
    margin-top: 15px;
    font-size: 20px;
  }
  .left > span,
  .right > span {
    font-size: 20px;
  }
  /* Work exp */
  .work-exp {
    font-size: 20px;
  }
  /* Contact */
}

/* Big desktop View */
@media screen and (min-width: 1920px) {
  #learn {
    margin-top: 100px;
    font-size: 28px;
    width: 8%;
  }
  /* Tech Stack Section */
  #tool {
    margin-left: 200px;
  }
  .circle {
    transform: translateX(17px) translateY(2px);
  }
}