/* Basic browser reset */
* {
  padding: 0;
  margin: 0;
}
/* Code taken from:
 * https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */
.less-info {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
/* Styling begins */
body {
  font-family: 'Overpass', sans-serif;
}
/* Mobile first */
body {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: 
  "photo"
  "about"
  "skills"
  "education"
  "projects-more"
  "projects"
  "education-more"
  "work"
  "work-more"
  "contact"
  "contact-more"
  ;
}
/* Landing */
#landing-photo {
  background-image: url("https://images.pexels.com/photos/747964/pexels-photo-747964.jpeg");
  background-size: cover;
  background-position-x: center;
  background-position-y: top;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 60vh;
  grid-area: photo;
  opacity: 0.7;
}
#landing {
  text-align: center;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  font-size: 25px;
  text-decoration: none;
  font-weight: 800;
  margin-top: 40%;
  background-color: #012326;
  color: #e7fbff;
  padding: 15px;
  letter-spacing: 3px;
}
/* About Me Section */
#about-me {
  background-color: #69B7BF;
  color: #261101;
  width: 100%;
  grid-area: about;
}
#about-me > h3 {
  width: 300px;
  font-size: 25px;
  padding: 30px 0 10px 20px;
}
p {
  padding: 0 30px 15px 30px;
  font-size: 14px;
}
/* Tech Stack Section */
#skills {
  grid-area: skills;
  background-image: url("https://images.pexels.com/photos/163163/sackcloth-sackcloth-textured-laptop-ipad-163163.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  width: 100vw;
  height: 35vh;
  color: rgb(233, 229, 229);
}
#skills > p {
  font-size: 14px;
}
#skills > section > ul > li {
  margin-top: 5px;
  margin-left: 40px;
}
#development,
#tool {
  display: inline-block;
  vertical-align: top;
}
/* Extra information Section */
#information {
  background-color: #094950;
  color: rgb(236, 236, 222);
  padding-bottom: 200px;
  width: 100%;
}
h2 {
  padding-top: 15px;
  padding-left: 15px;
  text-decoration: underline;
}
h3 {
  padding-left: 15px;
}
form {
  padding-left: 15px;
}
ul {
  padding-left: 15px;
}
#job-info > li {
  list-style-type: none;
  padding-bottom: 10px;
}
.job-title {
  font-weight: bold;
}
#projects-title {
  grid-area: projects;
}
.projects {
  grid-area: projects-more;
}
#education {
  grid-area: education;
}
.education {
  grid-area: education-more;
}
#work-exp {
  grid-area: work;
}
.work-exp {
  grid-area: work-more;
}
#contact {
  grid-area: contact;
}
.contact {
  grid-area: contact-more;
}
/* Projects Expanded Section */
#project-head {
  font-size: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
#pe-photos {
  display: grid;
  grid-template-columns: 150px 100px;
  grid-template-areas: 
  "p1 p2";
}
#pe1 {
  grid-area: p1;
}
#pe2 {
  grid-area: p2;
  align-self: end;
}
.project-photo {
  width: 330px;
  height: auto;
  padding-left: 30px;
  padding-bottom: 20px;
}
.project-photo {
  width: 200px;
  height: auto;
  padding-left: 20px;
  padding-bottom: 20px;
}
#pe-photos #pe2 {
  width: 125px;
  height: auto;
} 
/* Education & Timeline */
/* Using Grid design, Thank you Krizstina for the idea */
.timeline {
  display: grid;
  grid-template-columns: 48% 2% 50%;
  grid-template-areas: 
  "1      circle-1 date-1"
  "date-2 circle-2 2"
  "3      circle-3 date-3"
  "date-4 circle-4 4"
  "5      circle-5 date-5";
}
#education-1 {
  grid-area: 1;
  border-radius: 5%;
}
#education-2 {
  grid-area: 2;
  border-left: solid yellow 9px;
}
#education-3 {
  grid-area: 3;
}
#education-4 {
  grid-area: 4;
  border-left: solid yellow 9px;
}
#education-5 {
  grid-area: 5;
}
#date-1 {
  grid-area: date-1;
  border-left: solid yellow 9px;
}
#date-2 {
  grid-area: date-2;
}
#date-3 {
  grid-area: date-3;
  border-left: solid yellow 9px;
}
#date-4 {
  grid-area: date-4;
}
#date-5 {
  grid-area: date-5;
  border-left: solid yellow 9px;
}
.date {
  padding-top: 30px;
  padding-bottom: 20px;
}
.circle {
  overflow: visible;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  grid-area:circle;
  background-color: rgb(190, 7, 7);
  margin-top: 45px;
  z-index: 2;
}
.left {
  padding-left: 30px;
}
.right {
  padding-left: 15px;
}
#circle-1 {
  grid-area: circle-1;
}
#circle-2 {
  grid-area: circle-2;
}
#circle-3 {
  grid-area: circle-3;
}
#circle-4 {
  grid-area: circle-4;
}
#circle-5 {
  grid-area: circle-5;
}
.education-point {
  padding-right: 10px;
}
.education-point > p {
  background-color: rgb(124, 118, 118);
  border-radius: 5%;
  padding-top: 5px;
}
.icon {
  transform: translateX(1px) translateY(3px);
}
/* Contact form */
#get-in-touch {
  padding-top: 10px;
  text-decoration: none;
  text-emphasis: none;
}
form {
  padding-top: 10px;
}
textarea {
  resize: none;
  height: 100px;
  width: 250px;
}
/* Social & Contact Section */
#connect {
  padding-top: 15px;
}
#logos {
  padding-top: 10px;
  display: inline-flex;
  flex-direction: row;
}
#github {
  padding: 0 15px;
  width: 75px;
  height: auto;
}
#linkedin {
  width: 100px;
}

/* Tablet view */
@media screen and (min-width: 600px) {
  #landing-photo {
    height: 50vh;
  }
  #landing {
    margin-top: 40%;
    font-size: 25px;
    letter-spacing: 10px;
  }
  .photo-top {
    width: 100%;
    height: auto;
    overflow: hidden;
    opacity: 0.70;
    display: block;
  }
  #pe-photos {
    display: grid;
    grid-template-columns: 275px 100px;
    grid-template-areas: 
    "p1 p2";
  }
  #pe1 {
    grid-area: p1;
  }
  #pe2 {
    grid-area: p2;
    align-self: end;
  }
  #pe-photos #pe2 {
    width: 250px;
    height: auto;
  } 
  .project-photo {
    width: 330px;
    height: auto;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  #information #education {
    margin-bottom: 10px;
  }
  /* Time line */
  .timeline {
    display: grid;
    grid-template-columns: 49% 1% 50%;
    grid-template-areas: 
    "1      circle-1 date-1"
    "date-2 circle-2 2"
    "3      circle-3 date-3"
    "date-4 circle-4 4"
    "5      circle-5 date-5";
  }
  .circle {
    margin-top: 25px;
    transform: translateX(1px);
  }
}

/* Small Laptop view */
@media screen and (min-width: 1024px) {
  #landing-photo {
    background-position-y: center;
    height: 75vh;
  }
  #landing {
    margin-top: 40%;
    width: 55%;
    font-size: 55px;
    letter-spacing: 11px;
  }
  #pe-photos {
    display: grid;
    grid-template-columns: 275px 100px;
    grid-template-areas: 
    "p1 p2";
  }

  #pe1 {
    grid-area: p1;
  }
  #pe2 {
    grid-area: p2;
    align-self: end;
  }
  #pe-photos #pe2 {
    width: 330px;
    height: auto;
  }
  /* Time line */
  .timeline {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 44% 2% 48%;
    grid-template-areas: 
    "1      circle-1 date-1"
    "date-2 circle-2 2"
    "3      circle-3 date-3"
    "date-4 circle-4 4"
    "5      circle-5 date-5";
  }
  .circle {
    margin-top: 25px;
    transform: translateX(8px) translateY(2px);
  }
  .education-point > p {
    border-radius: 10px;
    margin-bottom: 40px;
  }
  .date > span {
    margin-bottom: 10px;
  }
  .icon {
    transform: translateX(2px) translateY(3px);
  }
  .left > span {
    padding-left: 80px;
  }
  .right > span {
    padding-left: 15px;
  }
}

/* Desktop View */
@media screen and (min-width: 1400px) {
  #landing-photo {
    background-position-y: center;
    height: 75vh;
  }
  #landing {
    margin-top: 18%;
    width: 50%;
    font-size: 55px;
    letter-spacing: 11px;
  }
  #pe-photos {
    display: grid;
    grid-template-columns: 275px 100px;
    grid-template-areas: 
    "p1 p2";
  }

  #pe1 {
    grid-area: p1;
  }
  #pe2 {
    grid-area: p2;
    align-self: end;
  }
  #pe-photos #pe2 {
    width: 330px;
    height: auto;
  }
  /* Time line */
  .timeline {
    display: grid;
    grid-template-columns: 44% 1% 54%;
    grid-template-areas: 
    "1      circle-1 date-1"
    "date-2 circle-2 2"
    "3      circle-3 date-3"
    "date-4 circle-4 4"
    "5      circle-5 date-5";
  }
  .circle {
    margin-top: 25px;
  }
  .education-point > p {
    border-radius: 10px;
  }
}